# W4 - Python data types assignment

# 1. Print word `python` in reverse order

In [1]:
'python'[::-1]

'nohtyp'

# 2. Define variables `apples` and `oranges` and using `format` methos print following string:
>I have **7** apples and **5** oranges, therefore I have **12** fruits.`

In [19]:
Apples = 7
Oranges = 5
NumberFruits = Apples + Oranges
'I have {0} apples and {1} oranges, therefore I have {2} fruits.'.format(Apples, Oranges, NumberFruits)

'I have 7 apples and 5 oranges, therefore I have 12 fruits.'

# 3. Convert list of characters (`['a', 'b', 'c', 'd']`) to string (`'abc'`)

In [53]:
letters =['a', 'b', 'c', 'd']
del letters[3]
'' .join(letters)

'abc'

# 4. Get difference betweet two lists (e.g. `[1, 2, 3, 4, 8, 12]` and `[1, 4, 8, 2]`)

In [54]:
list1 =set([1, 2, 3, 4, 8, 12])
list2 =set([1, 4, 8, 2])
list1.difference(list2)

{3, 12}

# 5. Add an item to a tuple
```python
tuple_numbers = (4, 6, 2, 8, 3, 1) 
```

In [57]:
tuple_numbers = (4, 6, 2, 8, 3, 1) 
new_tuple = tuple_numbers + (7,)
print (new_tuple)

(4, 6, 2, 8, 3, 1, 7)

# 6. Convert a tuple to a string
```python
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
output_string = 'python'
```

In [80]:
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
''.join(input_tuple)

'python'

# 7. Combine two dictionaries into one

```python
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
```

In [92]:
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
def merge(names1, names2):
  return(names2.update(names1))
print(merge(names1,names2))
print(names2)

None
{'Carol': 28, 'Walter': 22, 'Jack': 25, 'John': 26, 'Emily': 23}

# 8. Sum all the items in a dictionary
```python
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
```

In [98]:
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
sum (ice_cream_price.values())

743

# 9. Remove item(s) from set. Can you gess which item will be removed?
```python
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
```

In [107]:
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
set_letters.remove('n')
print (set_letters)

{'h', 'o', 'y', 't', 'p'}

# 10. split list into 3 different variables 
```python
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
```

In [126]:
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
Black, Red, Yellow = color
print (Black)
print (Red)
print (Yellow)

('Black', '#000000', 'rgb(0, 0, 0)')
('Red', '#FF0000', 'rgb(255, 0, 0)')
('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

# BONUS: test whether every element of first set is in second set ans vice versa using using relational operators
```python
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
```

In [127]:
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])

In [128]:
set_a in set_b

False

In [129]:
set_b in set_a

False