In [1]:
x = 1
if x > 2:
    print('x is more than 2')
else:
    print('I have no idea what value does x have')

I have no idea what value does x have

In [2]:
x = 2.5
if x > 2:
    print('x is more than 2')
    print('I have no idea what value does x have')
    print('seriously, I dont know')

x is more than 2
I have no idea what value does x have
seriously, I dont know

In [7]:
name = (input('Type your name:'))
names_list = ['Jiri', 'Jan', 'Marie', 'Petr', 'Jana', 'Josef', 'Pavel', 'Martin', 'Jaroslav', 'Tomas', 'Eva', 'Miroslav', 'Hana', 'Anna', 'Zdenek', 'Frantisek', 'Vaclav', 'Michal', 'Lenka', 'Katerina']
if name in names_list:
    print('Congratulations you have one of the most popular Czech names.')
else: print('Your name is rare and special in the Czech republic')

Type your name:Jiri
Congratulations you have one of the most popular Czech names.

In [2]:
range(10)

range(0, 10)

In [32]:
some_numbers = [1,2,3,4,5]
new_numbers = [x**2 for x in some_numbers]
new_numbers_yay = [x for x in new_numbers]
new_numbers_yay

[1, 4, 9, 16, 25]

In [40]:
seq = 'ACTGCTCAAG'
pos = [i for i in range(len(seq))if seq[i] == 'A']
pos

[0, 7, 8]